/* more按鈕 */
.button {
  display: inline-block;
  border-radius: 0px 0px 30px 30px;
  background-color: #008183;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0 auto;
  font-weight: bold;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
