/* 薪水各醫院 */
.hospital_1 {
    background: #afeeee;
    max-width: 200px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 0;
  }
  
  .hospital_1 {
    /* border: 1px solid blue; */
    position: relative;
    top: 5px;
    left: 0px;
  }
  
  .hospital_2 {
    background: #afeeee;
    max-width: 120px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 0;
  }
  
  .hospital_2 {
    position: relative;
    top: 10px;
    left: 0px;
  }
  
  .hospital_3 {
    background: #afeeee;
    max-width: 120px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 0;
  }
  
  .hospital_3 {
    position: relative;
    top: 15px;
    left: 0px;
  }
  
  .hospital_4 {
    background: #afeeee;
    max-width: 120px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 0;
  }
  
  .hospital_4 {
    position: relative;
    top: 20px;
    left: 0px;
  }
  
  .hospital_5 {
    background: #afeeee;
    max-width: 120px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 0;
  }
  
  .hospital_5 {
    position: relative;
    top: 25px;
    left: 0px;
  }
  
  .hospital_6 {
    background: #afeeee;
    max-width: 140px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 0;
  }
  
  .hospital_6 {
    position: relative;
    top: -205px;
    left: 205px;
  }
  
  .hospital_7 {
    background: #afeeee;
    max-width: 120px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 0;
  }
  
  .hospital_7 {
    position: relative;
    top: -200px;
    left: 125px;
  }
  
  .hospital_8 {
    background: #afeeee;
    max-width: 120px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 0;
  }
  
  .hospital_8 {
    position: relative;
    top: -195px;
    left: 125px;
  }
  
  .hospital_9 {
    background: #afeeee;
    max-width: 120px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 0;
  }
  
  .hospital_9 {
    position: relative;
    top: -190px;
    left: 125px;
  }
  
  .hospital_10 {
    background: #afeeee;
    max-width: 120px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 0;
  }
  
  .hospital_10 {
    position: relative;
    top: -185px;
    left: 125px;
  }
  
  .hospital_11 {
    background: #afeeee;
    max-width: 120px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 0;
  }
  
  .hospital_11 {
    position: relative;
    top: -415px;
    left: 350px;
  }
  
  .hospital_12 {
    background: #afeeee;
    max-width: 160px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 0;
  }
  
  .hospital_12 {
    position: relative;
    top: -410px;
    left: 250px;
  }
  
  .hospital_13 {
    background: #afeeee;
    max-width: 120px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 0;
  }
  
  .hospital_13 {
    position: relative;
    top: -405px;
    left: 250px;
  }
  
  .hospital_14 {
    background: #afeeee;
    max-width: 120px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 0;
  }
  
  .hospital_14 {
    position: relative;
    top: -400px;
    left: 250px;
  }
  
  .hospital_15 {
    background: #afeeee;
    max-width: 200px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 0;
  }
  
  .hospital_15 {
    position: relative;
    top: -395px;
    left: 250px;
  }
  
  .hospital_16 {
    background: #afeeee;
    max-width: 120px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 0;
  }
  
  .hospital_16 {
    position: relative;
    top: -625px;
    left: 475px;
  }
  
  .hospital_17 {
    background: #afeeee;
    max-width: 200px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 0;
  }
  
  .hospital_17 {
    position: relative;
    top: -620px;
    left: 415px;
  }
  
  .hospital_18 {
    background: #afeeee;
    max-width: 260px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 0;
  }
  
  .hospital_18 {
    position: relative;
    top: -615px;
    left: 375px;
  }
  
  .hospital_19 {
    background: #afeeee;
    max-width: 200px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 0;
  }
  
  .hospital_19 {
    position: relative;
    top: -610px;
    left: 375px;
  }
  
  .hospital_20 {
    background: #afeeee;
    max-width: 170px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 0;
  }
  
  .hospital_20 {
    position: relative;
    top: -605px;
    left: 455px;
  }
  