@import url(./button.css);
@import url(./article.css);
@import url(./tallk_title.css);
@import url(./hospital_title.css);
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  list-style-type: none;
  margin: 0 auto;
  overflow: hidden;
  background-color: #0dbf8c;
  position: sticky;
  top: 0;
  width: 100%;
  min-width: 1200px;
  z-index: 5;
  height: 60px;
}

ul {
  /* border: 1px solid blue; */
  width: 1200px;
  margin: 0 auto;
}

.logo {
  /* border: 1px solid blue; */
  margin: 3px;
  padding: 5px;
  width: 85px;
  /* height: 55px; */
}

.register {
  vertical-align: middle;
}

.book {
  vertical-align: middle;
}

.active_2 {
  /* display: block; */
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
}

div.home_image {
  background-image: url("../image/首頁圖.gif");
  /* border: 1px solid red; */
  font-size: 0;
  width: 100%;
  min-width: 1200px;
  height: 360px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

footer.footer {
  /* border: 1px solid red; */
  background-color: #008080;
  background-repeat: no-repeat;
  width: 100%;
  min-width: 1200px;
  padding: 20px 0;
  height: 150px;
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
}

div.container {
  /* border: 1px solid red; */
  background-color: #20b2aa;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 auto;
  padding: 40px;
  min-width: 1200px;
}

/* 專屬護理人的平台 */
.text_1 {
  /* border: 1px solid blue; */
  margin: 0 auto;
  padding: 20px;
}
.rcorners1 {
  /* border: 1px solid red; */
  border-radius: 30px 30px 0 0;
  background: #67d0cc;
  padding: 5px;
  width: 100%;
  height: 60px;
  max-width: 800px;
  display: block;
  margin: 0 auto;
  font-size: 36px;
  text-align: center;
  font-weight: bold;
}

.rcorners2 {
  /* border: 1px solid blue; */
  border-radius: 0 0 30px 30px;
  background: #afeeee;
  padding: 20px;
  margin: 0 auto;
  width: 800px;
  height: 340px;
  display: block;
}

.rcorners2 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.dot {
  /* border: 1px solid blue; */
  margin: 20px 20px;
  height: 170px;
  width: 170px;
  background-color: #008183;
  border-radius: 50%;
  display: inline-block;
  padding: 15px;
}

/* 薪資 */
.text_2 {
  /* border: 2px solid  blue; */
  margin: 0 auto;

  padding: 20px;
}

.hospital {
  /* border: 1px solid black; */
  margin: 0px 0px 0px 80px;
  width: 700px;
  height: 235px;
}

div.rcorners3 {
  /* border: 1px solid blue; */
  border-radius: 30px;
  background: #67d0cc;
  padding: 20px;
  margin: 0px auto;
  width: 800px;
  height: 300px;
  display: block;
}

.dot_1 {
  /* border: 1px solid red; */
  height: 170px;
  width: 170px;
  background-color: #008183;
  border-radius: 50%;
  display: inline-block;
  color: white;
  text-align: center;
}

.dot_1 {
  vertical-align: text-top;
  font-size: 24px;
  position: relative;
  top: -210px;
  left: -100px;
}

.money {
  padding: 0;
  margin-top: -20px;
  /* font-weight: bold; */
}

/* 聊聊 */
.text_3 {
  /* border: 1px solid blue; */
  margin: 0 auto;
  padding: 20px;
}

.title {
  /* border: 1px solid black; */
  margin: 0px 0px 0px 80px;
  width: 700px;
  height: 235px;
}

div.rcorners4 {
  /* border: 1px solid blue; */
  border-radius: 30px;
  background: #67d0cc;
  padding: 20px;
  margin: 0px auto;
  width: 800px;
  height: 300px;
  display: block;
}

.dot_2 {
  /* border: 1px solid red; */
  height: 170px;
  width: 170px;
  background-color: #008183;
  border-radius: 50%;
  display: inline-block;
  color: white;
  text-align: center;
}

.dot_2 {
  vertical-align: text-top;
  font-size: 24px;
  position: relative;
  top: -210px;
  left: -100px;
}

.tallk {
  padding: 0;
  margin-top: -20px;
  /* font-weight: bold; */
}

/* 好物 */
.text_4 {
  /* border: 1px solid blue; */
  margin: 0 auto;
  padding: 20px;
}

.card {
  /* border: 1px solid black; */
  margin: 0px 0px 0px 80px;
  width: 650px;
  height: 235px;
}

div.rcorners5 {
  /* border: 1px solid blue; */
  border-radius: 30px;
  background: #67d0cc;
  padding: 20px;
  margin: 0px auto;
  width: 800px;
  height: 300px;
  display: block;
}

.dot_3 {
  /* border: 1px solid red; */
  height: 170px;
  width: 170px;
  background-color: #008183;
  border-radius: 50%;
  display: inline-block;
  color: white;
  text-align: center;
}

.dot_3 {
  vertical-align: text-top;
  font-size: 24px;
  position: relative;
  top: -210px;
  left: -100px;
}

.good {
  padding: 0;
  margin-top: -20px;
  /* font-weight: bold; */
}
