body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0dbf8c;
  position: sticky;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li.right {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.content {
  background-color: #20b2aa;
  background-repeat: no-repeat;
  width: 1200px;
  margin: 0 auto;
  font-size: 0;
  box-sizing: border-box;
  padding: 40px;
}

div.rcorners2 {
  border-radius: 30px;
  background: #afeeee;
  padding: 20px;
  margin: 0;
  width: 550px;
  height: 650px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
