* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  list-style-type: none;
  margin: 0 auto;
  overflow: hidden;
  background-color: #0dbf8c;
  position: sticky;
  top: 0;
  width: 100%;
  min-width: 1200px;
  z-index: 5;
  height: 60px;
}

ul {
  /* border: 1px solid blue; */
  width: 1200px;
  margin: 0 auto;
}

.logo {
  /* border: 1px solid blue; */
  margin: 3px;
  padding: 5px;
  width: 85px;
  /* height: 55px; */
}

.register {
  vertical-align: middle;
}

.book {
  vertical-align: middle;
}

.active_2 {
  /* display: block; */
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
}

.money_img {
  background-image: url("../image/薪資圖.gif");
  /* border: 1px solid red; */
  font-size: 0;
  width: 100%;
  min-width: 1200px;
  height: 360px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

div.container {
  /* border: 1px solid red; */
  background-color: #20b2aa;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 auto;
  min-width: 1200px;
}

.container_1 {
  /* border: 1px solid black; */
  width: 1200px;
  margin: 0 auto;
}

div.taiwan {
  /* border: 2px solid blue; */
  display: inline-block;
  margin-top: 40px;
  margin-left: 110px;
  width: 100%;
  max-width: 450px;
}

.svg {
  /* border: 1px solid red; */
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}

.shape {
  stroke: white;
  fill: transparent;
  transition: 0.5s;
  cursor: pointer;
}

.shape:hover {
  fill: #008080;
  transform: translate(-5px, -5px);
}

div.city {
  /* border: 1px solid yellow; */
  display: inline-block;
  padding: 10px;
  flex-direction: row;
  vertical-align: top;
  margin-top: 40px;
  margin-left: 40px;
}

.rcorners1 {
  border: 2px solid #008080;
  border-radius: 30px 30px 0 0;
  background: #afeeee;
  padding: 20px;
  margin: 0 auto;
  width: 400px;
  display: block;
  opacity: 70%;
}

.city_1 {
  margin: 0;
  font-size: 36px;
  text-align: center;
  font-weight: bold;
}

.rcorners2 {
  border: 2px solid #008080;
  border-radius: 0;
  background: #afeeee;
  /* padding: 20px; */
  margin: 0 auto;
  width: 400px;
  height: 485px;
  display: block;
}

.hp {
  border: 1px solid #008080;
  background: #008080;
  opacity: 70%;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  color: black;
}

.hp::-ms-expand {
  display: none;
}

footer.footer {
  background-color: #008080;
  background-repeat: no-repeat;
  width: 100%;
  min-width: 1200px;
  padding: 20px 0;
  height: 150px;
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
}
