@import url(./Hamburgers.css);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  list-style-type: none;
  margin: 0 auto;
  /* overflow: hidden; */
  background-color: #0dbf8c;
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 1200px;
  z-index: 5;
}

@media screen and (min-width: 320px) and (max-width: 1140px) {
  header {
    display: flex;
  }
}

.header_log {
  /* border: 1px solid blue; */
  width: 1200px;
  margin: 0 auto;
}

.logo {
  /* border: 1px solid blue; */
  margin: 3px;
  padding: 5px;
  width: 85px;
  /* height: 55px; */
}

.register {
  vertical-align: middle;
}

.book {
  vertical-align: middle;
}

.active {
  /* display: block; */
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
}

@media screen and (min-width: 320px) and (max-width: 1140px) {
  .active {
    display: none;
  }
}

button.hamburger {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 1140px) {
  button.hamburger {
    display: inline-block;
  }
}

nav.main_nav {
  /* border: 1px solid red; */
  display: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  z-index: -1;
}

ul.nav_list {
  /* border: 1px solid blue; */
  background-color: #67d0cc;

  list-style: none;
  margin: 0 auto;
  text-align: center;
  margin-top: 68px;
  padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 1140px) {
  ul.nav_list > li {
    display: block;
  }
}

ul > li {
  vertical-align: middle;
  text-align: center;
}
ul > li > a {
  text-decoration: none;
  text-align: center;
  font-size: 18px;
}

ul > li > a:hover {
  color: #008183;
  background-color: #afeeee;
  display: block;
  padding: 5px;
  font-weight: bold;
}

div.money_img {
  background-image: url("../image/薪資圖.gif");
  /* border: 1px solid red; */
  font-size: 0;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 360px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 320px) and (max-width: 1140px) {
  div.money_img {
    display: flex;
  }
}

div.container {
  /* border: 1px solid red; */
  background-color: #20b2aa;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.container_1 {
  /* border: 1px solid black; */
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 1140px) {
  .container_1 {
    display: flex;
  }
}

div.taiwan {
  /* border: 2px solid blue; */
  display: inline-block;
  margin-top: 40px;
  margin-left: 110px;
  width: 100%;
  max-width: 450px;
}

svg {
  /* border: 1px solid red; */
  display: inline-block;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

.shape {
  stroke: white;
  fill: transparent;
  transition: 0.5s;
  cursor: pointer;
}

.shape:hover {
  fill: #008080;
  transform: translate(-5px, -5px);
}
.shape.-active {
  fill: #008080;
  transform: translate(-5px, -5px);
}

div.city {
  /* border: 1px solid yellow; */
  display: inline-block;
  padding: 10px;
  flex-direction: row;
  vertical-align: top;
  margin-top: 40px;
  /* margin-left: 40px; */
  width: 100%;
  max-width: 500px;
}

/* @media screen and (min-width: 320px) and (max-width: 1140px) {
  div.city {
    display: inline-block;
  }
} */

.rcorners1 {
  border: 2px solid #008080;
  border-radius: 30px 30px 0 0;
  background: #afeeee;
  padding: 5px;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  display: block;
  opacity: 70%;
}

p.city_1 {
  margin: 0;
  font-size: 36px;
  text-align: center;
  font-weight: bold;
}
@media screen and (min-width: 320px) and (max-width: 1140px) {
  p.city_1 {
    font-size: 24px;
  }
}

.rcorners2 {
  border: 2px solid #008080;
  border-radius: 0;
  background: #afeeee;
  /* padding: 20px; */
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  /* height: 100%; */
  display: block;
}

.hp {
  border: 1px solid #008080;
  background: #008080;
  opacity: 70%;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  color: black;
}

@media screen and (min-width: 320px) and (max-width: 1140px) {
  .hp {
    font-size: 18px;
  }
}

.hp::-ms-expand {
  border: 1px solid #008080;
  display: none;
}

footer.footer {
  /* border: 1px solid red; */
  background-color: #008080;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
}

@media screen and (min-width: 320px) and (max-width: 1140px) {
  footer.footer {
    display: flex;
  }
}
