@import url(./Hamburgers.css);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  list-style-type: none;
  margin: 0 auto;
  /* overflow: hidden; */
  background-color: #0dbf8c;
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 1200px;
  z-index: 5;
}

@media screen and (min-width: 320px) and (max-width: 1140px) {
  header {
    display: flex;
  }
}

.header_log {
  /* border: 1px solid blue; */
  width: 1200px;
  margin: 0 auto;
}

.logo {
  /* border: 1px solid blue; */
  margin: 3px;
  padding: 5px;
  width: 85px;
  /* height: 55px; */
}

.register {
  vertical-align: middle;
}

.book {
  vertical-align: middle;
}

.active {
  /* display: block; */
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
}

@media screen and (min-width: 320px) and (max-width: 1140px) {
  .active {
    display: none;
  }
}

button.hamburger {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 1140px) {
  button.hamburger {
    display: inline-block;
  }
}

nav.main_nav {
  /* border: 1px solid red; */
  display: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  z-index: -1;
}

ul.nav_list {
  /* border: 1px solid blue; */
  background-color: #67d0cc;

  list-style: none;
  margin: 0 auto;
  text-align: center;
  margin-top: 68px;
  padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 1140px) {
  ul.nav_list > li {
    display: block;
  }
}

ul > li {
  vertical-align: middle;
  text-align: center;
}
ul > li > a {
  text-decoration: none;
  text-align: center;
  font-size: 18px;
}

ul > li > a:hover {
  color: #008183;
  background-color: #afeeee;
  display: block;
  padding: 5px;
  font-weight: bold;
}

div.tallk_img {
  background-image: url("../image/聊聊圖.gif");
  /* border: 1px solid red; */
  font-size: 0;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 360px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 320px) and (max-width: 1140px) {
  div.home_image {
    display: flex;
  }
}

div.container {
  /* border: 1px solid red; */
  background-color: #20b2aa;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 auto;
  padding: 40px;
  max-width: 1200px;
}

.all_1 {
  /* border: 2px solid red; */
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}

.h1_1 {
  /* border: 1px solid blue; */
  display: inline-block;
  /* width: 100%; */
  max-width: 600px;
}

a.all {
  text-decoration: none;
}

.h1_1 :hover {
  /*設定滑鼠移經的連結 */
  text-decoration: underline;
  color: #008080;
}

h1 {
  /* border: 1px solid red; */
  display: block;
  font-size: 18px;
  width: 100%;
  max-width: 600px;
  margin-left: 10px;
  color: black;
  padding: 0;
  margin: 10px;
}

h2 {
  /* border: 1px solid blue; */
  display: block;
  font-size: 24px;
  width: 100%;
  margin-left: 10px;
  color: black;
  padding: 0;
  margin: 10px;
}

@media screen and (min-width: 320px) and (max-width: 1140px) {
  h1 {
    font-size: 14px;
  }

  h2 {
    font-size: 18px;
  }
}
.member_icon {
  /* border: 1px solid black; */

  margin-left: 10px;
  margin-top: 10px;
}

@media screen and (min-width: 320px) and (max-width: 1140px) {
  .member_icon {
    /* display: none; */
  }
}
/* 框 */
div.rcorners {
  /* border: 1px solid yellow; */
  border-radius: 30px;
  background: #afeeee;
  /* padding: 5px; */
  margin: 20px auto;
  width: 100%;
  max-width: 700px;
  /* height: 90px; */
  display: block;
}

p {
  margin: 0 auto;
  text-align: center;
}

footer.footer {
  /* border: 1px solid red; */
  background-color: #008080;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
}

@media screen and (min-width: 320px) and (max-width: 1140px) {
  footer.footer {
    display: flex;
  }
}

#go_top {
  width: 40px;
  height: 40px;
  background: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: white;
  background-color: #0dbf8c;
  border-radius: 50%;
  font-size: 20px;
  line-height: 1;
  outline: none;
  cursor: pointer;
}
