body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0dbf8c;
  position: sticky;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li.right {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

div.home_image {
  background-image: url("../image/首頁圖.gif");
  padding: 30px;
  text-align: center;
  background-repeat: no-repeat;
  min-height: 360px;
  min-width: 1200px;
  background-size: contain;
  background-position: center center;
}

footer.footer {
  background-color: #008080;
  background-repeat: no-repeat;
  min-width: 1200px;
  padding: 20px 0;
  height: 150px;
  box-sizing: border-box;
  text-align: center;
}

div.parent_container {
  background-color: #20b2aa;
  background-repeat: no-repeat;
  width: 1200px;
  margin: 0 auto;
  font-size: 0;
  box-sizing: border-box;
  padding: 40px;
}

div.parent_container main.main {
  /* display: inline-block; */
  vertical-align: top;
  font-size: 10rem;
  box-sizing: border-box;
}

p.rcorners1 {
  border-radius: 30px 30px 0 0;
  background: #67d0cc;
  padding: 20px;
  margin: 0;
  width: 800px;
  height: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.rcorners2 {
  border-radius: 0 0 30px 30px;
  background: #afeeee;
  padding: 20px;
  margin: 0;
  width: 800px;
  height: 340px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p.rcorners1 {
  font-size: 36px;
  text-align: center;
  font-weight: bold;
}

.rcorners2 {
  text-align: center;
}

.dot {
  height: 170px;
  width: 170px;
  background-color: #008183;
  border-radius: 50%;
  display: inline-block;
}

h1 {
  font-size: 24px;
}

/* 薪資 */
div.rcorners3 {
  border-radius: 30px;
  background: #67d0cc;
  padding: 20px;
  margin: 125px;
  width: 800px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dot_1 {
  height: 170px;
  width: 170px;
  background-color: #008183;
  border-radius: 50%;
  display: inline-block;
}

.rcorners3 {
  text-align: center;
}

/* 聊聊 */
div.rcorners4 {
  border-radius: 30px;
  background: #67d0cc;
  padding: 20px;
  margin: 0;
  width: 800px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dot_2 {
  height: 170px;
  width: 170px;
  background-color: #008183;
  border-radius: 50%;
  display: inline-block;
}

.rcorners4 {
  text-align: center;
}

/* 好物 */
div.rcorners5 {
  border-radius: 30px;
  background: #67d0cc;
  padding: 20px;
  margin: 125px;
  width: 800px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dot_3 {
  height: 170px;
  width: 170px;
  background-color: #008183;
  border-radius: 50%;
  display: inline-block;
}

.rcorners5 {
  text-align: center;
}
