* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  list-style-type: none;
  margin: 0 auto;
  /* overflow: hidden; */
  background-color: #0dbf8c;
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 1200px;
  z-index: 5;
}

@media screen and (min-width: 320px) and (max-width: 1140px) {
  header {
    display: flex;
  }
}

ul {
  /* border: 1px solid blue; */
  width: 1200px;
  margin: 0 auto;
}

.logo {
  /* border: 1px solid blue; */
  margin: 3px;
  padding: 5px;
  width: 85px;
  /* height: 55px; */
}

.register {
  vertical-align: middle;
}

.book {
  vertical-align: middle;
}

.active_2 {
  /* display: block; */
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
}

.container {
  /* border: 1px solid red; */
  background-color: #20b2aa;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

div.rcorners {
  /* border: 1px solid red; */
  border-radius: 30px;
  background: #afeeee;
  padding: 20px;
  margin: 0;
  width: 100%;
  max-width: 550px;
  /* height: 650px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.all_1 {
  /* border: 1px solid black; */
  padding: 60px 14px;
  display: block;
  margin: 0px auto;
}

/* FB GOOGLE */
.social_up {
  /* text-align: center; */
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 1140px) {
  .social_up {
    display: flex;
  }
}

a {
  text-decoration: none;
}

img.FB64 {
  background-color: white;
  border-radius: 10%;
}

img.google64 {
  background-color: white;
  border-radius: 10%;
}

button.FB {
  border: none;
  /* margin-right: 50px; */
  background: none;
  cursor: pointer;
  display: inline-block;
  margin: 20px auto;
}

button.google {
  border: none;
  background: none;
  cursor: pointer;
  display: inline-block;
  margin: 20px auto;
}

/* 註冊登入按鈕 */
.all_2 {
  border: 1px;
  display: block;
  color: white;
  background: #008080;
  width: 100%;
  max-width: 300px;
  height: 40px;
  padding: 0px;
  border-radius: 10px;
  margin: 90px auto;
  /* text-align: center; */
}

.all_2 :hover {
  opacity: 0.6;
  border-radius: 10px;
  background: #20b2aa;
  width: 100%;
  max-width: 300px;
  height: 40px;
  padding: 0px;
  margin: 0px auto;
  cursor: pointer;
}

.sign_log {
  font-size: 24px;
  font-weight: bold;
}

/* or */
div.or {
  padding: 16px 0px;
  position: relative;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 1140px) {
  div.or {
  }
}

/* 帳號密碼 */
.log_in {
  /* border: 1px solid blue; */
  margin-top: 20px;
  text-align: center;
}

.email {
  /* border: 1px solid red; */
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}

#username {
  border: 1px solid #008080;
  border-radius: 5px;
  height: 35px;
  width: 100%;
  max-width: 385px;
}

.password {
  /* border: 1px solid red; */
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  text-align: left;
}

#password {
  border: 1px solid #008080;
  border-radius: 5px;
  height: 35px;
  width: 100%;
  max-width: 385px;
}

footer.footer {
  /* border: 1px solid red; */
  background-color: #008080;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
}

@media screen and (min-width: 320px) and (max-width: 1140px) {
  footer.footer {
    display: flex;
  }
}
