/* 聊聊小標題 */
.title_1 {
  background: #afeeee;
  max-width: 355px;
  border-radius: 30px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  padding: 5px;
}

.title_1 {
  display: inline-block;
}

.title_2 {
  background: #afeeee;
  max-width: 210px;
  border-radius: 30px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  padding: 5px;
}

.title_2 {
  display: inline-block;
}

.title_3 {
  background: #afeeee;
  max-width: 480px;
  border-radius: 30px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  padding: 5px;
}

.title_3 {
  display: inline-block;
}

.title_4 {
  background: #afeeee;
  max-width: 350px;
  border-radius: 30px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  padding: 5px;
}

.title_4 {
  display: inline-block;
}

.title_5 {
  background: #afeeee;
  max-width: 250px;
  border-radius: 30px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  padding: 5px;
}

.title_5 {
  display: inline-block;
}

.title_6 {
  background: #afeeee;
  max-width: 400px;
  border-radius: 30px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  padding: 5px;
}

.title_6 {
  display: inline-block;
}
